.ConImage{
    background-image:url("https://media.zicxa.com/1681890");
    height: 90vh;
 background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px 
}
.ConImage{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ConImage .ConBtn{
display: flex;
margin: 1rem;
padding: .9rem 3rem;
border-radius: .5rem;
}
.ConBtn a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    letter-spacing: 2px;
}
.ConImage a{
    font-size: 2rem;

    font-weight: 500;
   
}
.ConBtn .icons{
    color: aliceblue;
    position: relative;
        bottom: 1px;
}
.frist-btn{
    border: 3px solid #cfb10e;
        background-color: transparent;
        transition: all .6s ease-in-out;
}

 
.frist-btn:hover {
  background-color: #cfb10e;
      border: 1px solid #cfb10e;

}
.second-btn{
background-color: #cfb10e;
        border: 3px solid #cfb10e;
        transition: all .5s ease-in-out;
}
.second-btn:hover {
background-color: transparent;
 border: 3px solid #cfb10e;
 
}
@media (max-width:500px) {
.ConImage .ConBtn {
        margin: .5rem;
        padding: .5rem 1.5rem;
    }
    .ConBtn a {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .ConImage {
    height: 100vh;
    background-position: 25% 75%;
}
    
}
@media (max-width:394px) {
.ConImage .ConBtn {
        margin: .5rem;
        padding: .5rem .8rem;
    }

}
@media (max-width:345px){
.ConImage{
 flex-direction: column;
 
}
 
}